# Keep only options that are not features
# as those are now restricted to system unit compilation only

# Minimal set for i8086, copied from AVR above
# does not require extra memory, neither code nor data
# in programs not using e. g. writeln based I/OR
#ifdef CPUI8086
-Cs2048
-CX
-XX
#endif

# does not require extra memory, neither code nor data
# in programs not using e. g. writeln based I/O which is the common case
#ifdef CPUZ80
-SfOBJECTS
-SfEXCEPTIONS
-SfCLASSES
-SfRTTI
#endif
