* text=auto !eol
/Makefile -text
compiler/COPYING -text
compiler/MPWMake -text
compiler/Makefile -text
compiler/README -text
compiler/arm/armreg.dat -text
compiler/bsdcompile -text
compiler/m68k/m68kreg.dat -text
compiler/make_old.cmd -text
compiler/mdppc386.bat -text
compiler/mips/mipsreg.dat -text
compiler/mppc386.bat -text
compiler/mppc68k.bat -text
compiler/mppcsparc -text
compiler/msg/errorct.msg -text
compiler/msg/errord.msg -text
compiler/msg/errore.msg -text
compiler/msg/errores.msg -text
compiler/msg/errorf.msg -text
compiler/msg/errorhe.msg -text
compiler/msg/errorn.msg -text
compiler/msg/errorpl.msg -text
compiler/msg/errorpli.msg -text
compiler/msg/errorr.msg -text
compiler/msg/errorrw.msg -text
compiler/powerpc/ppcins.dat -text
compiler/powerpc/ppcreg.dat -text
compiler/pp.lpi -text
compiler/ppc.cfg -text
compiler/ppc.conf -text
compiler/ppc.dof -text
compiler/ppc.dpr -text
compiler/sparc/spreg.dat -text
compiler/utils/Makefile -text
compiler/utils/README -text
compiler/utils/fpc.cft -text
compiler/utils/fpc.mpw -text
compiler/utils/msgused.pl -text
compiler/utils/samplecfg -text
compiler/x86/x86ins.dat -text
compiler/x86/x86reg.dat -text
demo/Makefile -text
demo/freebsd/Makefile -text
demo/graph/Makefile -text
demo/graph/quaddata.dat -text
demo/linux/Makefile -text
demo/lister/Makefile -text
demo/macos/HelloMac.r -text
demo/modex/Makefile -text
demo/morphos/Makefile -text
demo/netware/Makefile -text
demo/netwlibc/Makefile -text
demo/os2/Makefile -text
demo/os2/pmdemo1.h -text
demo/os2/pmdemo1.rc -text
demo/palmos/pilrc.bmp -text
demo/palmos/pilrcic.bmp -text
demo/palmos/pilrctst.h -text
demo/palmos/pilrctst.rcp -text
demo/text/Makefile -text
demo/win32/Makefile -text
fcl/COPYING -text
fcl/COPYING.FPC -text
fcl/Makefile -text
fcl/db/Makefile -text
fcl/db/README -text
fcl/db/dbase/Makefile -text
fcl/db/interbase/BUGS.known -text
fcl/db/interbase/Makefile -text
fcl/db/interbase/README -text
fcl/db/interbase/mkdb -text
fcl/db/memds/Makefile -text
fcl/db/memds/README -text
fcl/db/mysql/Makefile -text
fcl/db/odbc/Makefile -text
fcl/db/odbc/README -text
fcl/db/odbc/testodbc.mdb -text
fcl/db/sdf/Makefile -text
fcl/db/sdf/fpc.ssx -text
fcl/db/sdf/fpc.ssy -text
fcl/db/sqldb/Makefile -text
fcl/db/sqldb/interbase/Makefile -text
fcl/db/sqldb/mysql/Makefile -text
fcl/db/sqldb/postgres/Makefile -text
fcl/db/sqlite/Makefile -text
fcl/db/tests/Makefile -text
fcl/fpcunit/Makefile -text
fcl/fpcunit/exampletests/Makefile -text
fcl/fpcunit/tests/Makefile -text
fcl/image/Makefile -text
fcl/net/Makefile -text
fcl/net/tests/Makefile -text
fcl/passrc/Makefile -text
fcl/shedit/Makefile -text
fcl/shedit/README -text
fcl/shedit/gtk/Makefile -text
fcl/shedit/gtk/simple.xml -text
fcl/template/footer -text
fcl/template/header -text
fcl/tests/Makefile -text
fcl/tests/README -text
fcl/tests/fpdoc.dtd -text
fcl/tests/intl/Makefile -text
fcl/tests/intl/README -text
fcl/tests/intl/restest.de.mo -text
fcl/tests/intl/restest.de.po -text
fcl/tests/intl/restest.fr.mo -text
fcl/tests/intl/restest.fr.po -text
fcl/tests/intl/restest.nl.mo -text
fcl/tests/intl/restest.nl.po -text
fcl/tests/intl/resttest.po -text
fcl/tests/kword.xml -text
fcl/tests/overview.rtf -text svneol=unset#unset
fcl/tests/parser.dat -text
fcl/tests/showver.rc -text
fcl/tests/showver.res -text
fcl/tests/simple.xml -text
fcl/tests/testcgi.html -text
fcl/win32/fclel.mc -text
fcl/win32/fclel.rc -text
fcl/win32/fclel.res -text
fcl/xml/Makefile -text
fcl/xml/README -text
fv/Makefile -text
fv/test/Makefile -text
ide/Makefile -text
ide/README -text
ide/TODO -text
ide/compiler/Makefile -text
ide/cvsco.tdf -text
ide/cvsdiff.tdf -text
ide/cvsup.tdf -text
ide/fakegdb/Makefile -text
ide/fp.ans -text
ide/fp32.ico -text
ide/fp32.rc -text
ide/fpw32.rc -text
ide/gplprog.pt -text
ide/gplunit.pt -text
ide/grep.tdf -text
ide/maketp.bat -text
ide/program.pt -text
ide/readme.ide -text
ide/tpgrep.tdf -text
ide/unit.pt -text
install/INSTALL -text
install/README -text
install/bingo32/cwsdpmi.exe -text
install/bingo32/wmemu387.dxe -text
install/binos2/emx.dll -text
install/binos2/emxwrap.dll -text
install/binos2/fp2.ico -text
install/binos2/unzip32.dll -text
install/binw32/ar.exe -text
install/binw32/as.exe -text
install/binw32/cmp.exe -text
install/binw32/cp.exe -text
install/binw32/cpp.exe -text
install/binw32/cygiconv-2.dll -text
install/binw32/cygncurses-8.dll -text
install/binw32/cygwin1.dll -text
install/binw32/diff.exe -text
install/binw32/dlltool.exe -text
install/binw32/fp32_32.ico -text
install/binw32/gcc.exe -text
install/binw32/gdate.exe -text
install/binw32/gdb.exe -text
install/binw32/gecho.exe -text
install/binw32/ginstall.exe -text
install/binw32/gmkdir.exe -text
install/binw32/grep.exe -text
install/binw32/ld.exe -text
install/binw32/make.exe -text
install/binw32/mv.exe -text
install/binw32/objdump.exe -text
install/binw32/patch.exe -text
install/binw32/pwd.exe -text
install/binw32/rm.exe -text
install/binw32/strip.exe -text
install/binw32/unzip.exe -text
install/binw32/upx.exe -text
install/binw32/windres.exe -text
install/binw32/windres.h -text
install/binw32/zip.exe -text
install/cross/buildcrossbinutils -text
install/cross/buildcrosssnaphot -text
install/debian/README.Debian.in -text
install/debian/changelog -text
install/debian/control -text
install/debian/control.in -text
install/debian/copyright -text
install/debian/fixdeb -text
install/debian/fp-compiler.conffiles -text
install/debian/fp-compiler.install.in -text
install/debian/fp-compiler.postinst.in -text
install/debian/fp-compiler.postrm.in -text
install/debian/fp-docs.doc-base -text
install/debian/fp-docs.install.in -text
install/debian/fp-ide.install.in -text
install/debian/fp-units-base.install.in -text
install/debian/fp-units-db.install.in -text
install/debian/fp-units-fcl.install.in -text
install/debian/fp-units-fv.install.in -text
install/debian/fp-units-gfx.install.in -text
install/debian/fp-units-gnome1.install.in -text
install/debian/fp-units-gtk.install.in -text
install/debian/fp-units-gtk2.install.in -text
install/debian/fp-units-misc.install.in -text
install/debian/fp-units-net.install.in -text
install/debian/fp-units-rtl.install.in -text
install/debian/fp-utils.install.in -text
install/debian/moveexamples -text
install/debian/rules -text
install/doc/Makefile -text
install/doc/copying -text
install/doc/copying.dj -text
install/doc/copying.emx -text
install/doc/copying.rsx -text
install/doc/faq.htm -text
install/fpc.ist -text
install/fpc.spec -text
install/fpcdoc.spec -text
install/install.sh -text
install/macos/Install -text
install/macos/Installer[!!-~]README -text
install/macos/README -text
install/macos/maccopy -text
install/macos/prepare -text
install/macosx/fpc-1.9.8.pmsp -text
install/macosx/fpc.info -text
install/macosx/resources/Dutch.lproj/InstallationCheck.strings -text
install/macosx/resources/English.lproj/InstallationCheck.strings -text
install/macosx/resources/German.lproj/InstallationCheck.strings -text
install/macosx/resources/InstallationCheck -text
install/macosx/resources/InstallationCheck.strings -text
install/macosx/resources/License.txt -text
install/macosx/resources/ReadMe.txt -text
install/macosx/resources/postflight -text
install/makepack -text
install/makesource -text
install/man/Makefile -text
install/man/man1/bin2obj.1 -text
install/man/man1/data2inc.1 -text
install/man/man1/delp.1 -text
install/man/man1/fd2pascal.1 -text
install/man/man1/fpc.1 -text
install/man/man1/fpcmake.1 -text
install/man/man1/fpdoc.1 -text
install/man/man1/fprcp.1 -text
install/man/man1/h2pas.1 -text
install/man/man1/h2paspp.1 -text
install/man/man1/makeskel.1 -text
install/man/man1/plex.1 -text
install/man/man1/postw32.1 -text
install/man/man1/ppc386.1 -text
install/man/man1/ppcarm.1 -text
install/man/man1/ppcppc.1 -text
install/man/man1/ppcsparc.1 -text
install/man/man1/ppcx64.1 -text
install/man/man1/ppdep.1 -text
install/man/man1/ppudump.1 -text
install/man/man1/ppufiles.1 -text
install/man/man1/ppumove.1 -text
install/man/man1/ptop.1 -text
install/man/man1/pyacc.1 -text
install/man/man1/rstconv.1 -text
install/man/man1/unitdiff.1 -text
install/man/man2html.c -text
install/man/man5/fpc.cfg.5 -text
install/man/man5/fpcmake.5 -text
install/man/man5/ptop.cfg.5 -text
install/os2snap.bat -text
install/os2snap.cmd -text
install/release.tem -text
install/smart_strip.sh -text
install/unix/fp32x32.xpm -text
install/updmkver -text
installer/Makefile -text
installer/install.dat -text
installer/install.def -text
packages/Makefile -text
packages/base/Makefile -text
packages/base/gdbint/Makefile -text
packages/base/ibase/Makefile -text
packages/base/ibase/README -text
packages/base/ibase/ibase60.h -text
packages/base/ibase/mkdb -text
packages/base/ibase/mkdb.bat -text
packages/base/ibase/mkdb.sqd -text
packages/base/libasync/Makefile -text
packages/base/libc/Makefile -text
packages/base/libc/README -text
packages/base/libc/h2p -text
packages/base/libc/h2p1.sed -text
packages/base/libc/h2p2.sed -text
packages/base/md5/Makefile -text
packages/base/md5/md5.ref -text
packages/base/mysql/Makefile -text
packages/base/mysql/README -text
packages/base/mysql/mkdb -text
packages/base/mysql/mysqls.c -text
packages/base/mysql/rmdb -text
packages/base/netdb/Makefile -text
packages/base/netdb/README -text
packages/base/odbc/Makefile -text
packages/base/odbc/README -text
packages/base/odbc/testodbc.mdb -text
packages/base/oracle/Makefile -text
packages/base/oracle/README -text
packages/base/oracle/example/Makefile -text
packages/base/pasjpeg/Makefile -text
packages/base/pasjpeg/PasJpeg.raw -text
packages/base/pasjpeg/cjpeg.res -text
packages/base/pasjpeg/demo.res -text
packages/base/pasjpeg/djpeg.res -text
packages/base/pasjpeg/jpegtran.drc -text
packages/base/pasjpeg/jpegtran.res -text
packages/base/pasjpeg/qtable1.ijg -text
packages/base/pasjpeg/script0.ijg -text
packages/base/pasjpeg/script1.ijg -text
packages/base/pasjpeg/script2.ijg -text
packages/base/pasjpeg/test1.dfm -text
packages/base/pasjpeg/testproj.dpr -text
packages/base/pasjpeg/testproj.res -text
packages/base/paszlib/Makefile -text
packages/base/postgres/Makefile -text
packages/base/postgres/README -text
packages/base/postgres/mkdb -text
packages/base/postgres/rmdb -text
packages/base/pthreads/Makefile -text
packages/base/regexpr/Makefile -text
packages/base/sqlite/Makefile -text
packages/extra/Makefile -text
packages/extra/amunits/Makefile -text
packages/extra/amunits/README -text
packages/extra/amunits/otherlibs/picasso/examples/symbol.blue -text
packages/extra/amunits/otherlibs/picasso/examples/symbol.green -text
packages/extra/amunits/otherlibs/picasso/examples/symbol.red -text
packages/extra/amunits/rexx/getrecord.rexx -text
packages/extra/amunits/rexx/make.rexx -text
packages/extra/amunits/units/Makefile -text
packages/extra/amunits/utilunits/Makefile -text
packages/extra/bfd/Makefile -text
packages/extra/bzip2/LICENSE -text
packages/extra/cdrom/Makefile -text
packages/extra/cdrom/README -text
packages/extra/forms/Makefile -text
packages/extra/forms/README -text
packages/extra/forms/USAGE -text
packages/extra/forms/demo/Makefile -text
packages/extra/forms/demo/bm1.xbm -text
packages/extra/forms/demo/bm2.xbm -text
packages/extra/forms/demo/crab.xpm -text
packages/extra/forms/demo/crab45.xpm -text
packages/extra/forms/demo/doc2p -text
packages/extra/forms/demo/nomail.xbm -text
packages/extra/forms/demo/porsche.xpm -text
packages/extra/forms/demo/srs.xbm -text
packages/extra/fpgtk/Makefile -text
packages/extra/fpgtk/demo/Makefile -text
packages/extra/fpgtk/demo/testgtk.ppr -text
packages/extra/fpgtk/fpgtk.def -text
packages/extra/fpgtk/pgtk/pgtk.ppr -text
packages/extra/gdbm/Makefile -text
packages/extra/gdbm/README -text
packages/extra/ggi/Makefile -text
packages/extra/gnome1/Makefile -text
packages/extra/gnome1/gconf/Makefile -text
packages/extra/gnome1/gconf/examples/Makefile -text
packages/extra/gnome1/gnome/Makefile -text
packages/extra/gnome1/gnome/maketest.sh -text
packages/extra/gnome1/zvt/Makefile -text
packages/extra/gnome1/zvt/examples/Makefile -text
packages/extra/gtk/Makefile -text
packages/extra/gtk/README -text
packages/extra/gtk/examples/Makefile -text
packages/extra/gtk/examples/tutorial/Makefile -text
packages/extra/gtk/examples/tutorial/info.xpm -text
packages/extra/gtk/gtkgl/Makefile -text
packages/extra/gtk2/Makefile -text
packages/extra/gtk2/examples/Makefile -text
packages/extra/gtk2/examples/filechooser/Makefile -text
packages/extra/gtk2/examples/filechooser/beipiel.glade -text
packages/extra/gtk2/examples/gettingstarted/Makefile -text
packages/extra/gtk2/examples/gtk_demo/Makefile -text
packages/extra/gtk2/examples/gtk_demo/data/alphatest.png -text
packages/extra/gtk2/examples/gtk_demo/data/apple-red.png -text
packages/extra/gtk2/examples/gtk_demo/data/background.jpg -text
packages/extra/gtk2/examples/gtk_demo/data/floppybuddy.gif -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-applets.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-calendar.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-foot.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-gimp.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-gmush.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnome-gsame.png -text
packages/extra/gtk2/examples/gtk_demo/data/gnu-keys.png -text
packages/extra/gtk2/examples/gtk_demo/data/gtk-logo-rgb.gif -text
packages/extra/gtk2/examples/gtkglext/Makefile -text
packages/extra/gtk2/examples/helloworld/Makefile -text
packages/extra/gtk2/examples/helloworld2/Makefile -text
packages/extra/gtk2/examples/plugins/Makefile -text
packages/extra/gtk2/examples/scribble_simple/Makefile -text
packages/extra/gtk2/gtk2forlazarus.lpk -text
packages/extra/imlib/Makefile -text
packages/extra/libgd/Makefile -text
packages/extra/libgd/README -text
packages/extra/libpng/Makefile -text
packages/extra/ncurses/Makefile -text
packages/extra/newt/Makefile -text
packages/extra/newt/README -text
packages/extra/numlib/Makefile -text
packages/extra/numlib/doc/inv.tex -text
packages/extra/numlib/examples/invgenex.dat -text
packages/extra/numlib/examples/invgpdex.dat -text
packages/extra/numlib/examples/invgsyex.dat -text
packages/extra/opengl/Makefile -text
packages/extra/opengl/examples/Makefile -text
packages/extra/opengl/readme -text
packages/extra/os2units/Makefile -text
packages/extra/os2units/clkdll/Makefile -text
packages/extra/os2units/ftpapi/Makefile -text
packages/extra/os2units/hwvideo/Makefile -text
packages/extra/os2units/lvm/Makefile -text
packages/extra/os2units/lvm/tests/Makefile -text
packages/extra/os2units/mmtk/Makefile -text
packages/extra/os2units/mmtk/tests/Makefile -text
packages/extra/palmunits/Makefile -text
packages/extra/palmunits/fpcmade -text
packages/extra/rexx/Makefile -text
packages/extra/rexx/test/Makefile -text
packages/extra/rexx/test/backward.fnc -text
packages/extra/sndfile/Makefile -text
packages/extra/sndfile/README -text
packages/extra/sndfile/testc.c -text
packages/extra/svgalib/Makefile -text
packages/extra/svgalib/README -text
packages/extra/svgalib/vgamouse.h -text
packages/extra/syslog/Makefile -text
packages/extra/tcl/Makefile -text
packages/extra/tcl/test.tcl -text
packages/extra/unixutil/Makefile -text
packages/extra/unzip/Makefile -text
packages/extra/utmp/Makefile -text
packages/extra/winunits/Makefile -text
packages/extra/winunits/jedi.inc -text
packages/extra/x11/Makefile -text
packages/extra/zlib/Makefile -text
rtl/COPYING -text
rtl/COPYING.FPC -text
rtl/Makefile -text
rtl/README -text
rtl/amiga/Makefile -text
rtl/amiga/prt0.as -text
rtl/amiga/readme -text
rtl/arm/makefile.cpu -text
rtl/atari/prt0.as -text
rtl/atari/readme -text
rtl/beos/Makefile -text
rtl/beos/i386/cprt0.as -text
rtl/beos/i386/dllprt.as -text
rtl/beos/i386/dllprt.cpp -text
rtl/beos/i386/func.as -text
rtl/beos/i386/prt0.as -text
rtl/darwin/Makefile -text
rtl/emx/Makefile -text
rtl/emx/emx.imp -text
rtl/emx/emxwrap.imp -text
rtl/emx/prt0.as -text
rtl/emx/prt1.as -text
rtl/freebsd/Makefile -text
rtl/freebsd/i386/cprt0.as -text
rtl/freebsd/i386/gprt0.as -text
rtl/freebsd/i386/prt0.as -text
rtl/freebsd/x86_64/prt0.as -text
rtl/go32v2/Makefile -text
rtl/go32v2/exceptn.as -text
rtl/go32v2/exit16.ah -text
rtl/go32v2/exit16.asm -text
rtl/go32v2/fpu.as -text
rtl/go32v2/sbrk16.ah -text
rtl/go32v2/sbrk16.asm -text
rtl/go32v2/v2prt0.as -text
rtl/i386/makefile.cpu -text
rtl/i386/readme -text
rtl/inc/graph/graph.tex -text
rtl/inc/readme -text
rtl/inc/system.fpd -text
rtl/linux/Makefile -text
rtl/linux/arm/cprt0.as -text
rtl/linux/arm/dllprt0.as -text
rtl/linux/arm/gprt0.as -text
rtl/linux/arm/prt0.as -text
rtl/linux/i386/cprt0.as -text
rtl/linux/i386/cprt21.as -text
rtl/linux/i386/dllprt0.as -text
rtl/linux/i386/gprt0.as -text
rtl/linux/i386/gprt21.as -text
rtl/linux/i386/prt0.as -text
rtl/linux/m68k/prt0.as -text
rtl/linux/m68k/prt1.as -text
rtl/linux/powerpc/cprt0.as -text
rtl/linux/powerpc/dllprt0.as -text
rtl/linux/powerpc/gprt0.as -text
rtl/linux/powerpc/prt0.as -text
rtl/linux/sparc/cprt0.as -text
rtl/linux/sparc/dllprt0.as -text
rtl/linux/sparc/gprt0.as -text
rtl/linux/sparc/prt0.as -text
rtl/linux/x86_64/cprt0.as -text
rtl/linux/x86_64/dllprt0.as -text
rtl/linux/x86_64/gprt0.as -text
rtl/linux/x86_64/prt0.as -text
rtl/m68k/makefile.cpu -text
rtl/m68k/readme -text
rtl/macos/MPWmake -text
rtl/macos/Makefile -text
rtl/macos/README -text
rtl/morphos/Makefile -text
rtl/morphos/prt0.as -text
rtl/netbsd/Makefile -text
rtl/netbsd/i386/cprt0.as -text
rtl/netbsd/i386/prt0.as -text
rtl/netbsd/i386/prt0_10.as -text
rtl/netbsd/powerpc/cprt0.as -text
rtl/netbsd/powerpc/prt0.as -text
rtl/netware/Makefile -text
rtl/netware/README -text
rtl/netware/aio.imp -text
rtl/netware/audnlm32.imp -text
rtl/netware/calnlm32.imp -text
rtl/netware/ccs-os.imp -text
rtl/netware/ccs.imp -text
rtl/netware/clib.imp -text
rtl/netware/clibaux.imp -text
rtl/netware/clibctx.imp -text
rtl/netware/clxnlm32.imp -text
rtl/netware/convertimp -text
rtl/netware/demos/Makefile -text
rtl/netware/dplsv386.imp -text
rtl/netware/dsapi.imp -text
rtl/netware/dsevent.imp -text
rtl/netware/lib0.imp -text
rtl/netware/locnlm32.imp -text
rtl/netware/ndpsrpc.imp -text
rtl/netware/netnlm32.imp -text
rtl/netware/nit.imp -text
rtl/netware/nlmlib.imp -text
rtl/netware/nwpre.as -text
rtl/netware/nwpsrv.imp -text
rtl/netware/nwpsrv3x.imp -text
rtl/netware/nwsnut.imp -text
rtl/netware/prelude.as -text
rtl/netware/requestr.imp -text
rtl/netware/socklib.imp -text
rtl/netware/streams.imp -text
rtl/netware/tests/Makefile -text
rtl/netware/threads.imp -text
rtl/netware/tli.imp -text
rtl/netware/unicode.imp -text
rtl/netware/vollib.imp -text
rtl/netware/ws2_32.imp -text
rtl/netware/ws2nlm.imp -text
rtl/netwlibc/Makefile -text
rtl/netwlibc/libc.imp -text
rtl/netwlibc/libcclib.imp -text
rtl/netwlibc/netware.imp -text
rtl/netwlibc/nwl_dlle.as -text
rtl/netwlibc/nwl_main.as -text
rtl/netwlibc/nwsnut.imp -text
rtl/netwlibc/ws2_32.imp -text
rtl/netwlibc/ws2nlm.imp -text
rtl/objpas/README -text
rtl/openbsd/Makefile -text
rtl/openbsd/i386/cprt0.as -text
rtl/openbsd/i386/prt0.as -text
rtl/os2/Makefile -text
rtl/os2/prt0.as -text
rtl/os2/tests/pmdemo1.def -text
rtl/os2/tests/pmdemo1.h -text
rtl/os2/tests/pmdemo1.mak -text
rtl/os2/tests/pmdemo1.rc -text
rtl/os2/viocalls.imp -text
rtl/palmos/Makefile -text
rtl/palmos/api/font.imn -text
rtl/palmos/api/readme -text
rtl/palmos/readme -text
rtl/powerpc/makefile.cpu -text
rtl/solaris/Makefile -text
rtl/sparc/makefile.cpu -text
rtl/watcom/Makefile -text
rtl/watcom/prt0.asm -text
rtl/win32/Makefile -text
rtl/win32/gprt0.as -text
rtl/win32/mouse.pp -text
rtl/win32/wcygprt0.as -text
rtl/win32/wdllprt0.as -text
rtl/win32/wininc/Makefile -text
rtl/win32/wininc/ascdef.sed -text
rtl/win32/wininc/unidef.sed -text
rtl/win32/wprt0.as -text
rtl/win32/wprt0_10.as -text
rtl/x86_64/makefile.cpu -text
tests/MPWMake -text
tests/Makefile -text
tests/bench/pi.c -text
tests/bench/shootout/io/moments.in -text
tests/bench/shootout/io/moments.out -text
tests/bench/shootout/io/rev.out -text
tests/bench/shootout/io/revfile.in -text
tests/bench/shootout/io/revfile.out -text
tests/bench/shootout/io/sumcol.in -text
tests/bench/shootout/io/sumcol.out -text
tests/bench/shootout/io/wc.in -text
tests/bench/shootout/io/wc.out -text
tests/bench/shootout/io/wordfreq.in -text
tests/bench/shootout/io/wordfreq.out -text
tests/bench/shootout/log/ackerm.log -text
tests/bench/shootout/log/ary3.log -text
tests/bench/shootout/log/fibo.log -text
tests/bench/shootout/log/hash.log -text
tests/bench/shootout/log/heapsort.log -text
tests/bench/shootout/log/hello.log -text
tests/bench/shootout/log/lists.log -text
tests/bench/shootout/log/matrix.log -text
tests/bench/shootout/log/methcall.log -text
tests/bench/shootout/log/moments.log -text
tests/bench/shootout/log/nestloop.log -text
tests/bench/shootout/log/random.log -text
tests/bench/shootout/log/revfile.log -text
tests/bench/shootout/log/sieve.log -text
tests/bench/shootout/log/strcat.log -text
tests/bench/shootout/log/sumcol.log -text
tests/bench/shootout/log/wc.log -text
tests/bench/shootout/src/bench.c -text
tests/dbdigest.cfg.example -text
tests/test/README -text
tests/test/cg/obj/ctest.c -text
tests/test/opt/README -text
tests/test/opt/treg2.dat -text
tests/units/MPWMake -text
tests/units/Makefile -text
tests/utils/Makefile -text
tests/utils/macos/LinkRunDir -text
tests/utils/macos/LinkRunTests -text
tests/utils/tests.sql -text
tests/webtbs/tw1472.pp -text
utils/Makefile -text
utils/README -text
utils/data2inc.exm -text
utils/debugsvr/Makefile -text
utils/debugsvr/README -text
utils/debugsvr/console/Makefile -text
utils/debugsvr/gtk/Makefile -text
utils/debugsvr/gtk/bitmaps/clear.xpm -text
utils/debugsvr/gtk/bitmaps/close.xpm -text
utils/debugsvr/gtk/bitmaps/connect.xpm -text
utils/debugsvr/gtk/bitmaps/disconnect.xpm -text
utils/debugsvr/gtk/bitmaps/error.xpm -text
utils/debugsvr/gtk/bitmaps/info.xpm -text
utils/debugsvr/gtk/bitmaps/pause.xpm -text
utils/debugsvr/gtk/bitmaps/run.xpm -text
utils/debugsvr/gtk/bitmaps/save.xpm -text
utils/debugsvr/gtk/bitmaps/warning.xpm -text
utils/debugsvr/gtk/bitmaps/xpmtopp -text
utils/dxegen/Makefile -text
utils/fpcm/Makefile -text
utils/fpcm/fpcmake.ini -text
utils/fpcm/makefile.exm -text
utils/fpdoc/COPYING -text
utils/fpdoc/Makefile -text
utils/fpdoc/README -text
utils/fpdoc/fpde/Makefile -text
utils/fpdoc/fpde/bitmaps/bold.xpm -text
utils/fpdoc/fpde/bitmaps/italic.xpm -text
utils/fpdoc/fpde/bitmaps/link.xpm -text
utils/fpdoc/fpde/bitmaps/new.xpm -text
utils/fpdoc/fpde/bitmaps/newelement.xpm -text
utils/fpdoc/fpde/bitmaps/newmodule.xpm -text
utils/fpdoc/fpde/bitmaps/newpackage.xpm -text
utils/fpdoc/fpde/bitmaps/newtopic.xpm -text
utils/fpdoc/fpde/bitmaps/open.xpm -text
utils/fpdoc/fpde/bitmaps/para.xpm -text
utils/fpdoc/fpde/bitmaps/remark.xpm -text
utils/fpdoc/fpde/bitmaps/save.xpm -text
utils/fpdoc/fpde/bitmaps/saveas.xpm -text
utils/fpdoc/fpde/bitmaps/table.xpm -text
utils/fpdoc/fpde/bitmaps/underline.xpm -text
utils/fpdoc/fpde/bitmaps/var.xpm -text
utils/fpdoc/fpdoc.css -text
utils/fpdoc/intl/Makefile -text
utils/fpdoc/intl/dglobals.de.po -text
utils/fpdoc/intl/dwriter.de.po -text
utils/fpdoc/intl/fpdoc.de.po -text
utils/fpdoc/intl/fpdocmk.de.po -text
utils/fpdoc/intl/fpdocstr.de.po -text
utils/fpdoc/intl/makeskel.de.po -text
utils/fpmc/Makefile -text
utils/fpmc/README -text
utils/fpmc/test.mc -text
utils/fprcp/Makefile -text
utils/fprcp/demo.h -text
utils/fprcp/demo.rc -text
utils/fprcp/use_demo.bat -text
utils/h2pas/Makefile -text
utils/h2pas/README -text
utils/h2pas/h2pas.y -text
utils/h2pas/scan.l -text
utils/h2pas/testit.h -text
utils/h2pas/yylex.cod -text
utils/h2pas/yyparse.cod -text
utils/kalyptus/kalyptus -text
utils/kalyptus/kalyptusCxxToPas.pm -text
utils/kalyptus/kalyptusDataDict.pm -text
utils/simulator/Makefile -text
utils/tply/COPYING -text
utils/tply/Makefile -text
utils/tply/README -text
utils/tply/pyacc.y -text
utils/tply/tply.doc -text
utils/tply/tply.tex -text
utils/tply/yylex.cod -text
utils/tply/yyparse.cod -text
