* text=auto !eol
compiler/COPYING -text
compiler/MPWMake -text
compiler/Makefile svneol=native#text/plain
compiler/Makefile.fpc svneol=native#text/plain
compiler/README -text
compiler/aasmbase.pas svneol=native#text/plain
compiler/aasmtai.pas svneol=native#text/plain
compiler/aggas.pas svneol=native#text/plain
compiler/alpha/aasmcpu.pas svneol=native#text/plain
compiler/alpha/agaxpgas.pas svneol=native#text/plain
compiler/alpha/aoptcpu.pas svneol=native#text/plain
compiler/alpha/aoptcpub.pas svneol=native#text/plain
compiler/alpha/aoptcpuc.pas svneol=native#text/plain
compiler/alpha/aoptcpud.pas svneol=native#text/plain
compiler/alpha/cgcpu.pas svneol=native#text/plain
compiler/alpha/cpubase.pas svneol=native#text/plain
compiler/alpha/cpuinfo.pas svneol=native#text/plain
compiler/alpha/cpunode.pas svneol=native#text/plain
compiler/alpha/cpupara.pas svneol=native#text/plain
compiler/alpha/cpupi.pas svneol=native#text/plain
compiler/alpha/cpuswtch.pas svneol=native#text/plain
compiler/alpha/cputarg.pas svneol=native#text/plain
compiler/alpha/radirect.pas svneol=native#text/plain
compiler/alpha/rasm.pas svneol=native#text/plain
compiler/alpha/rgcpu.pas svneol=native#text/plain
compiler/alpha/tgcpu.pas svneol=native#text/plain
compiler/aopt.pas svneol=native#text/plain
compiler/aoptbase.pas svneol=native#text/plain
compiler/aoptcs.pas svneol=native#text/plain
compiler/aoptda.pas svneol=native#text/plain
compiler/aoptobj.pas svneol=native#text/plain
compiler/arm/aasmcpu.pas svneol=native#text/plain
compiler/arm/agarmgas.pas svneol=native#text/plain
compiler/arm/aoptcpu.pas svneol=native#text/plain
compiler/arm/aoptcpub.pas svneol=native#text/plain
compiler/arm/aoptcpuc.pas svneol=native#text/plain
compiler/arm/aoptcpud.pas svneol=native#text/plain
compiler/arm/armatt.inc svneol=native#text/plain
compiler/arm/armatts.inc svneol=native#text/plain
compiler/arm/armins.dat -text
compiler/arm/armnop.inc svneol=native#text/plain
compiler/arm/armop.inc svneol=native#text/plain
compiler/arm/armtab.inc svneol=native#text/plain
compiler/arm/cgcpu.pas svneol=native#text/plain
compiler/arm/cpubase.pas svneol=native#text/plain
compiler/arm/cpuinfo.pas svneol=native#text/plain
compiler/arm/cpunode.pas svneol=native#text/plain
compiler/arm/cpupara.pas svneol=native#text/plain
compiler/arm/cpupi.pas svneol=native#text/plain
compiler/arm/cpuswtch.pas svneol=native#text/plain
compiler/arm/cputarg.pas svneol=native#text/plain
compiler/arm/itcpugas.pas svneol=native#text/plain
compiler/arm/narmadd.pas svneol=native#text/plain
compiler/arm/narmcal.pas svneol=native#text/plain
compiler/arm/narmcnv.pas svneol=native#text/plain
compiler/arm/narmcon.pas svneol=native#text/plain
compiler/arm/narminl.pas svneol=native#text/plain
compiler/arm/narmmat.pas svneol=native#text/plain
compiler/arm/raarm.pas svneol=native#text/plain
compiler/arm/raarmgas.pas svneol=native#text/plain
compiler/arm/rarmcon.inc svneol=native#text/plain
compiler/arm/rarmdwa.inc svneol=native#text/plain
compiler/arm/rarmnor.inc svneol=native#text/plain
compiler/arm/rarmnum.inc svneol=native#text/plain
compiler/arm/rarmrni.inc svneol=native#text/plain
compiler/arm/rarmsri.inc svneol=native#text/plain
compiler/arm/rarmsta.inc svneol=native#text/plain
compiler/arm/rarmstd.inc svneol=native#text/plain
compiler/arm/rarmsup.inc svneol=native#text/plain
compiler/arm/rgcpu.pas svneol=native#text/plain
compiler/assemble.pas svneol=native#text/plain
compiler/browcol.pas svneol=native#text/plain
compiler/browlog.pas svneol=native#text/plain
compiler/bsdcompile -text
compiler/catch.pas svneol=native#text/plain
compiler/cclasses.pas svneol=native#text/plain
compiler/cg64f32.pas svneol=native#text/plain
compiler/cgbase.pas svneol=native#text/plain
compiler/cgobj.pas svneol=native#text/plain
compiler/cgutils.pas svneol=native#text/plain
compiler/charset.pas svneol=native#text/plain
compiler/cmsgs.pas svneol=native#text/plain
compiler/comphook.pas svneol=native#text/plain
compiler/compiler.pas svneol=native#text/plain
compiler/compinnr.inc svneol=native#text/plain
compiler/comprsrc.pas svneol=native#text/plain
compiler/cp437.pas svneol=native#text/plain
compiler/cp850.pas svneol=native#text/plain
compiler/cp8859_1.pas svneol=native#text/plain
compiler/crc.pas svneol=native#text/plain
compiler/cresstr.pas svneol=native#text/plain
compiler/cstreams.pas svneol=native#text/plain
compiler/cutils.pas svneol=native#text/plain
compiler/dbgbase.pas svneol=native#text/plain
compiler/dbgdwarf.pas svneol=native#text/plain
compiler/dbgstabs.pas svneol=native#text/plain
compiler/defcmp.pas svneol=native#text/plain
compiler/defutil.pas svneol=native#text/plain
compiler/dwarf.pas svneol=native#text/plain
compiler/export.pas svneol=native#text/plain
compiler/finput.pas svneol=native#text/plain
compiler/fmodule.pas svneol=native#text/plain
compiler/fpcdefs.inc svneol=native#text/plain
compiler/fppu.pas svneol=native#text/plain
compiler/gendef.pas svneol=native#text/plain
compiler/globals.pas svneol=native#text/plain
compiler/globtype.pas svneol=native#text/plain
compiler/html/i386/readme.txt svneol=native#text/plain
compiler/html/powerpc/readme.txt svneol=native#text/plain
compiler/htypechk.pas svneol=native#text/plain
compiler/i386/ag386nsm.pas svneol=native#text/plain
compiler/i386/aopt386.pas svneol=native#text/plain
compiler/i386/cgcpu.pas svneol=native#text/plain
compiler/i386/cpubase.inc svneol=native#text/plain
compiler/i386/cpuinfo.pas svneol=native#text/plain
compiler/i386/cpunode.pas svneol=native#text/plain
compiler/i386/cpupara.pas svneol=native#text/plain
compiler/i386/cpupi.pas svneol=native#text/plain
compiler/i386/cpuswtch.pas svneol=native#text/plain
compiler/i386/cputarg.pas svneol=native#text/plain
compiler/i386/csopt386.pas svneol=native#text/plain
compiler/i386/daopt386.pas svneol=native#text/plain
compiler/i386/i386att.inc svneol=native#text/plain
compiler/i386/i386atts.inc svneol=native#text/plain
compiler/i386/i386int.inc svneol=native#text/plain
compiler/i386/i386nop.inc svneol=native#text/plain
compiler/i386/i386op.inc svneol=native#text/plain
compiler/i386/i386prop.inc svneol=native#text/plain
compiler/i386/i386tab.inc svneol=native#text/plain
compiler/i386/n386add.pas svneol=native#text/plain
compiler/i386/n386cal.pas svneol=native#text/plain
compiler/i386/n386inl.pas svneol=native#text/plain
compiler/i386/n386mat.pas svneol=native#text/plain
compiler/i386/n386mem.pas svneol=native#text/plain
compiler/i386/n386set.pas svneol=native#text/plain
compiler/i386/optbase.pas svneol=native#text/plain
compiler/i386/popt386.pas svneol=native#text/plain
compiler/i386/r386ari.inc svneol=native#text/plain
compiler/i386/r386att.inc svneol=native#text/plain
compiler/i386/r386con.inc svneol=native#text/plain
compiler/i386/r386dwrf.inc svneol=native#text/plain
compiler/i386/r386int.inc svneol=native#text/plain
compiler/i386/r386iri.inc svneol=native#text/plain
compiler/i386/r386nasm.inc svneol=native#text/plain
compiler/i386/r386nor.inc svneol=native#text/plain
compiler/i386/r386nri.inc svneol=native#text/plain
compiler/i386/r386num.inc svneol=native#text/plain
compiler/i386/r386op.inc svneol=native#text/plain
compiler/i386/r386ot.inc svneol=native#text/plain
compiler/i386/r386rni.inc svneol=native#text/plain
compiler/i386/r386sri.inc svneol=native#text/plain
compiler/i386/r386stab.inc svneol=native#text/plain
compiler/i386/r386std.inc svneol=native#text/plain
compiler/i386/ra386att.pas svneol=native#text/plain
compiler/i386/ra386int.pas svneol=native#text/plain
compiler/i386/rgcpu.pas svneol=native#text/plain
compiler/i386/rropt386.pas svneol=native#text/plain
compiler/ia64/cpuasm.pas svneol=native#text/plain
compiler/ia64/cpubase.pas svneol=native#text/plain
compiler/ia64/cpuinfo.pas svneol=native#text/plain
compiler/impdef.pas svneol=native#text/plain
compiler/import.pas svneol=native#text/plain
compiler/link.pas svneol=native#text/plain
compiler/m68k/aasmcpu.pas svneol=native#text/plain
compiler/m68k/agcpugas.pas svneol=native#text/plain
compiler/m68k/aoptcpu.pas svneol=native#text/plain
compiler/m68k/aoptcpub.pas svneol=native#text/plain
compiler/m68k/aoptcpud.pas svneol=native#text/plain
compiler/m68k/cgcpu.pas svneol=native#text/plain
compiler/m68k/cpuasm.pas svneol=native#text/plain
compiler/m68k/cpubase.pas svneol=native#text/plain
compiler/m68k/cpuinfo.pas svneol=native#text/plain
compiler/m68k/cpunode.pas svneol=native#text/plain
compiler/m68k/cpupara.pas svneol=native#text/plain
compiler/m68k/cpupi.pas svneol=native#text/plain
compiler/m68k/cpuswtch.pas svneol=native#text/plain
compiler/m68k/cputarg.pas svneol=native#text/plain
compiler/m68k/itcpugas.pas svneol=native#text/plain
compiler/m68k/n68kcnv.pas svneol=native#text/plain
compiler/m68k/n68kmat.pas svneol=native#text/plain
compiler/m68k/ncpuadd.pas svneol=native#text/plain
compiler/m68k/r68kcon.inc svneol=native#text/plain
compiler/m68k/r68kgas.inc svneol=native#text/plain
compiler/m68k/r68kgri.inc svneol=native#text/plain
compiler/m68k/r68knor.inc svneol=native#text/plain
compiler/m68k/r68knum.inc svneol=native#text/plain
compiler/m68k/r68krni.inc svneol=native#text/plain
compiler/m68k/r68ksri.inc svneol=native#text/plain
compiler/m68k/r68ksta.inc svneol=native#text/plain
compiler/m68k/r68kstd.inc svneol=native#text/plain
compiler/m68k/r68ksup.inc svneol=native#text/plain
compiler/m68k/ra68k.pas svneol=native#text/plain
compiler/m68k/ra68kmot.pas svneol=native#text/plain
compiler/m68k/rgcpu.pas svneol=native#text/plain
compiler/make_old.cmd -text
compiler/mdppc386.bat -text
compiler/mips/aasmcpu.pas svneol=native#text/plain
compiler/mips/cpubase.pas svneol=native#text/plain
compiler/mips/cpuinfo.pas svneol=native#text/plain
compiler/mips/itcpugas.pas svneol=native#text/plain
compiler/mips/rmipscon.inc svneol=native#text/plain
compiler/mips/rmipsdwf.inc svneol=native#text/plain
compiler/mips/rmipsgas.inc svneol=native#text/plain
compiler/mips/rmipsgri.inc svneol=native#text/plain
compiler/mips/rmipsgss.inc svneol=native#text/plain
compiler/mips/rmipsmot.inc svneol=native#text/plain
compiler/mips/rmipsmri.inc svneol=native#text/plain
compiler/mips/rmipsnor.inc svneol=native#text/plain
compiler/mips/rmipsnum.inc svneol=native#text/plain
compiler/mips/rmipsrni.inc svneol=native#text/plain
compiler/mips/rmipssri.inc svneol=native#text/plain
compiler/mips/rmipssta.inc svneol=native#text/plain
compiler/mips/rmipsstd.inc svneol=native#text/plain
compiler/mips/rmipssup.inc svneol=native#text/plain
compiler/mppc386.bat -text
compiler/mppc68k.bat -text
compiler/mppcsparc -text
compiler/msg/errorct.msg svneol=native#text/plain
compiler/msg/errord.msg svneol=native#text/plain
compiler/msg/errore.msg svneol=native#text/plain
compiler/msg/errores.msg svneol=native#text/plain
compiler/msg/errorf.msg svneol=native#text/plain
compiler/msg/errorhe.msg svneol=native#text/plain
compiler/msg/errorn.msg svneol=native#text/plain
compiler/msg/errorpl.msg svneol=native#text/plain
compiler/msg/errorpli.msg svneol=native#text/plain
compiler/msg/errorptd.msg -text
compiler/msg/errorptw.msg -text
compiler/msg/errorr.msg svneol=native#text/plain
compiler/msg/errorrw.msg svneol=native#text/plain
compiler/msg/errorues.msg svneol=native#text/plain
compiler/msgidx.inc svneol=native#text/plain
compiler/msgtxt.inc svneol=native#text/plain
compiler/nadd.pas svneol=native#text/plain
compiler/nbas.pas svneol=native#text/plain
compiler/ncal.pas svneol=native#text/plain
compiler/ncgadd.pas svneol=native#text/plain
compiler/ncgbas.pas svneol=native#text/plain
compiler/ncgcal.pas svneol=native#text/plain
compiler/ncgcnv.pas svneol=native#text/plain
compiler/ncgcon.pas svneol=native#text/plain
compiler/ncgflw.pas svneol=native#text/plain
compiler/ncginl.pas svneol=native#text/plain
compiler/ncgld.pas svneol=native#text/plain
compiler/ncgmat.pas svneol=native#text/plain
compiler/ncgmem.pas svneol=native#text/plain
compiler/ncgopt.pas svneol=native#text/plain
compiler/ncgset.pas svneol=native#text/plain
compiler/ncgutil.pas svneol=native#text/plain
compiler/ncnv.pas svneol=native#text/plain
compiler/ncon.pas svneol=native#text/plain
compiler/nflw.pas svneol=native#text/plain
compiler/ninl.pas svneol=native#text/plain
compiler/nld.pas svneol=native#text/plain
compiler/nmat.pas svneol=native#text/plain
compiler/nmem.pas svneol=native#text/plain
compiler/nobj.pas svneol=native#text/plain
compiler/node.pas svneol=native#text/plain
compiler/nopt.pas svneol=native#text/plain
compiler/nset.pas svneol=native#text/plain
compiler/nstate.pas svneol=native#text/plain
compiler/nutils.pas svneol=native#text/plain
compiler/ogbase.pas svneol=native#text/plain
compiler/ogcoff.pas svneol=native#text/plain
compiler/ogelf.pas svneol=native#text/plain
compiler/oglx.pas svneol=native#text/plain
compiler/ogmap.pas svneol=native#text/plain
compiler/optcse.pas svneol=native#text/plain
compiler/options.pas svneol=native#text/plain
compiler/optunrol.pas svneol=native#text/plain
compiler/owar.pas svneol=native#text/plain
compiler/owbase.pas svneol=native#text/plain
compiler/parabase.pas svneol=native#text/plain
compiler/paramgr.pas svneol=native#text/plain
compiler/parser.pas svneol=native#text/plain
compiler/pass_1.pas svneol=native#text/plain
compiler/pass_2.pas svneol=native#text/plain
compiler/pbase.pas svneol=native#text/plain
compiler/pdecl.pas svneol=native#text/plain
compiler/pdecobj.pas svneol=native#text/plain
compiler/pdecsub.pas svneol=native#text/plain
compiler/pdecvar.pas svneol=native#text/plain
compiler/pexports.pas svneol=native#text/plain
compiler/pexpr.pas svneol=native#text/plain
compiler/pinline.pas svneol=native#text/plain
compiler/pmodules.pas svneol=native#text/plain
compiler/powerpc/aasmcpu.pas svneol=native#text/plain
compiler/powerpc/agppcgas.pas svneol=native#text/plain
compiler/powerpc/agppcmpw.pas svneol=native#text/plain
compiler/powerpc/aoptcpu.pas svneol=native#text/plain
compiler/powerpc/aoptcpub.pas svneol=native#text/plain
compiler/powerpc/aoptcpuc.pas svneol=native#text/plain
compiler/powerpc/aoptcpud.pas svneol=native#text/plain
compiler/powerpc/cgcpu.pas svneol=native#text/plain
compiler/powerpc/cpubase.pas svneol=native#text/plain
compiler/powerpc/cpuinfo.pas svneol=native#text/plain
compiler/powerpc/cpunode.pas svneol=native#text/plain
compiler/powerpc/cpupara.pas svneol=native#text/plain
compiler/powerpc/cpupi.pas svneol=native#text/plain
compiler/powerpc/cpuswtch.pas svneol=native#text/plain
compiler/powerpc/cputarg.pas svneol=native#text/plain
compiler/powerpc/itcpugas.pas svneol=native#text/plain
compiler/powerpc/nppcadd.pas svneol=native#text/plain
compiler/powerpc/nppccal.pas svneol=native#text/plain
compiler/powerpc/nppccnv.pas svneol=native#text/plain
compiler/powerpc/nppcinl.pas svneol=native#text/plain
compiler/powerpc/nppcld.pas svneol=native#text/plain
compiler/powerpc/nppcmat.pas svneol=native#text/plain
compiler/powerpc/nppcset.pas svneol=native#text/plain
compiler/powerpc/rappc.pas svneol=native#text/plain
compiler/powerpc/rappcgas.pas svneol=native#text/plain
compiler/powerpc/rgcpu.pas svneol=native#text/plain
compiler/powerpc/rppccon.inc svneol=native#text/plain
compiler/powerpc/rppcdwrf.inc svneol=native#text/plain
compiler/powerpc/rppcgas.inc svneol=native#text/plain
compiler/powerpc/rppcgri.inc svneol=native#text/plain
compiler/powerpc/rppcgss.inc svneol=native#text/plain
compiler/powerpc/rppcmot.inc svneol=native#text/plain
compiler/powerpc/rppcmri.inc svneol=native#text/plain
compiler/powerpc/rppcnor.inc svneol=native#text/plain
compiler/powerpc/rppcnum.inc svneol=native#text/plain
compiler/powerpc/rppcrni.inc svneol=native#text/plain
compiler/powerpc/rppcsri.inc svneol=native#text/plain
compiler/powerpc/rppcstab.inc svneol=native#text/plain
compiler/powerpc/rppcstd.inc svneol=native#text/plain
compiler/powerpc/rppcsup.inc svneol=native#text/plain
compiler/powerpc64/aasmcpu.pas svneol=native#text/plain
compiler/powerpc64/agppcgas.pas svneol=native#text/plain
compiler/powerpc64/aoptcpu.pas svneol=native#text/plain
compiler/powerpc64/aoptcpub.pas svneol=native#text/plain
compiler/powerpc64/aoptcpuc.pas svneol=native#text/plain
compiler/powerpc64/aoptcpud.pas svneol=native#text/plain
compiler/powerpc64/cgcpu.pas svneol=native#text/plain
compiler/powerpc64/cpubase.pas svneol=native#text/plain
compiler/powerpc64/cpuinfo.pas svneol=native#text/plain
compiler/powerpc64/cpunode.pas svneol=native#text/plain
compiler/powerpc64/cpupara.pas svneol=native#text/plain
compiler/powerpc64/cpupi.pas svneol=native#text/plain
compiler/powerpc64/cpuswtch.pas svneol=native#text/plain
compiler/powerpc64/cputarg.pas svneol=native#text/plain
compiler/powerpc64/itcpugas.pas svneol=native#text/plain
compiler/powerpc64/nppcadd.pas svneol=native#text/plain
compiler/powerpc64/nppccal.pas svneol=native#text/plain
compiler/powerpc64/nppccnv.pas svneol=native#text/plain
compiler/powerpc64/nppcinl.pas svneol=native#text/plain
compiler/powerpc64/nppcld.pas svneol=native#text/plain
compiler/powerpc64/nppcmat.pas svneol=native#text/plain
compiler/powerpc64/nppcset.pas svneol=native#text/plain
compiler/powerpc64/ppcins.dat -text
compiler/powerpc64/ppcreg.dat -text
compiler/powerpc64/rappc.pas svneol=native#text/plain
compiler/powerpc64/rappcgas.pas svneol=native#text/plain
compiler/powerpc64/rgcpu.pas svneol=native#text/plain
compiler/powerpc64/rppccon.inc svneol=native#text/plain
compiler/powerpc64/rppcdwrf.inc svneol=native#text/plain
compiler/powerpc64/rppcgas.inc svneol=native#text/plain
compiler/powerpc64/rppcgri.inc svneol=native#text/plain
compiler/powerpc64/rppcgss.inc svneol=native#text/plain
compiler/powerpc64/rppcmot.inc svneol=native#text/plain
compiler/powerpc64/rppcmri.inc svneol=native#text/plain
compiler/powerpc64/rppcnor.inc svneol=native#text/plain
compiler/powerpc64/rppcnum.inc svneol=native#text/plain
compiler/powerpc64/rppcrni.inc svneol=native#text/plain
compiler/powerpc64/rppcsri.inc svneol=native#text/plain
compiler/powerpc64/rppcstab.inc svneol=native#text/plain
compiler/powerpc64/rppcstd.inc svneol=native#text/plain
compiler/powerpc64/rppcsup.inc svneol=native#text/plain
compiler/pp.lpi -text
compiler/pp.pas svneol=native#text/plain
compiler/ppc.cfg -text
compiler/ppc.conf -text
compiler/ppc.dof -text
compiler/ppc.dpr -text
compiler/ppheap.pas svneol=native#text/plain
compiler/ppu.pas svneol=native#text/plain
compiler/procinfo.pas svneol=native#text/plain
compiler/pstatmnt.pas svneol=native#text/plain
compiler/psub.pas svneol=native#text/plain
compiler/psystem.pas svneol=native#text/plain
compiler/ptconst.pas svneol=native#text/plain
compiler/ptype.pas svneol=native#text/plain
compiler/raatt.pas svneol=native#text/plain
compiler/rabase.pas svneol=native#text/plain
compiler/rasm.pas svneol=native#text/plain
compiler/rautils.pas svneol=native#text/plain
compiler/regvars.pas svneol=native#text/plain
compiler/rgbase.pas svneol=native#text/plain
compiler/rgobj.pas svneol=native#text/plain
compiler/scandir.pas svneol=native#text/plain
compiler/scanner.pas svneol=native#text/plain
compiler/script.pas svneol=native#text/plain
compiler/sparc/aasmcpu.pas svneol=native#text/plain
compiler/sparc/aoptcpu.pas svneol=native#text/plain
compiler/sparc/aoptcpub.pas svneol=native#text/plain
compiler/sparc/aoptcpud.pas svneol=native#text/plain
compiler/sparc/cgcpu.pas svneol=native#text/plain
compiler/sparc/cpubase.pas svneol=native#text/plain
compiler/sparc/cpugas.pas svneol=native#text/plain
compiler/sparc/cpuinfo.pas svneol=native#text/plain
compiler/sparc/cpunode.pas svneol=native#text/plain
compiler/sparc/cpupara.pas svneol=native#text/plain
compiler/sparc/cpupi.pas svneol=native#text/plain
compiler/sparc/cpuswtch.pas svneol=native#text/plain
compiler/sparc/cputarg.pas svneol=native#text/plain
compiler/sparc/itcpugas.pas svneol=native#text/plain
compiler/sparc/ncpuadd.pas svneol=native#text/plain
compiler/sparc/ncpucall.pas svneol=native#text/plain
compiler/sparc/ncpucnv.pas svneol=native#text/plain
compiler/sparc/ncpuinln.pas svneol=native#text/plain
compiler/sparc/ncpumat.pas svneol=native#text/plain
compiler/sparc/ncpuset.pas svneol=native#text/plain
compiler/sparc/opcode.inc svneol=native#text/plain
compiler/sparc/racpu.pas svneol=native#text/plain
compiler/sparc/racpugas.pas svneol=native#text/plain
compiler/sparc/rgcpu.pas svneol=native#text/plain
compiler/sparc/rspcon.inc svneol=native#text/plain
compiler/sparc/rspdwrf.inc svneol=native#text/plain
compiler/sparc/rspnor.inc svneol=native#text/plain
compiler/sparc/rspnum.inc svneol=native#text/plain
compiler/sparc/rsprni.inc svneol=native#text/plain
compiler/sparc/rspsri.inc svneol=native#text/plain
compiler/sparc/rspstab.inc svneol=native#text/plain
compiler/sparc/rspstd.inc svneol=native#text/plain
compiler/sparc/rspsup.inc svneol=native#text/plain
compiler/sparc/strinst.inc svneol=native#text/plain
compiler/switches.pas svneol=native#text/plain
compiler/symbase.pas svneol=native#text/plain
compiler/symconst.pas svneol=native#text/plain
compiler/symdef.pas svneol=native#text/plain
compiler/symnot.pas svneol=native#text/plain
compiler/symsym.pas svneol=native#text/plain
compiler/symtable.pas svneol=native#text/plain
compiler/symtype.pas svneol=native#text/plain
compiler/symutil.pas svneol=native#text/plain
compiler/systems.pas svneol=native#text/plain
compiler/systems/i_amiga.pas svneol=native#text/plain
compiler/systems/i_atari.pas svneol=native#text/plain
compiler/systems/i_beos.pas svneol=native#text/plain
compiler/systems/i_bsd.pas svneol=native#text/plain
compiler/systems/i_emx.pas svneol=native#text/plain
compiler/systems/i_gba.pas svneol=native#text/plain
compiler/systems/i_go32v2.pas svneol=native#text/plain
compiler/systems/i_linux.pas svneol=native#text/plain
compiler/systems/i_macos.pas svneol=native#text/plain
compiler/systems/i_morph.pas svneol=native#text/plain
compiler/systems/i_nwl.pas svneol=native#text/plain
compiler/systems/i_nwm.pas svneol=native#text/plain
compiler/systems/i_os2.pas svneol=native#text/plain
compiler/systems/i_palmos.pas svneol=native#text/plain
compiler/systems/i_sunos.pas svneol=native#text/plain
compiler/systems/i_watcom.pas svneol=native#text/plain
compiler/systems/i_wdosx.pas svneol=native#text/plain
compiler/systems/i_win.pas svneol=native#text/plain
compiler/systems/mac_crea.txt svneol=native#text/plain
compiler/systems/t_amiga.pas svneol=native#text/plain
compiler/systems/t_atari.pas svneol=native#text/plain
compiler/systems/t_beos.pas svneol=native#text/plain
compiler/systems/t_bsd.pas svneol=native#text/plain
compiler/systems/t_emx.pas svneol=native#text/plain
compiler/systems/t_gba.pas svneol=native#text/plain
compiler/systems/t_go32v2.pas svneol=native#text/plain
compiler/systems/t_linux.pas svneol=native#text/plain
compiler/systems/t_macos.pas svneol=native#text/plain
compiler/systems/t_morph.pas svneol=native#text/plain
compiler/systems/t_nwl.pas svneol=native#text/plain
compiler/systems/t_nwm.pas svneol=native#text/plain
compiler/systems/t_os2.pas svneol=native#text/plain
compiler/systems/t_palmos.pas svneol=native#text/plain
compiler/systems/t_sunos.pas svneol=native#text/plain
compiler/systems/t_watcom.pas svneol=native#text/plain
compiler/systems/t_wdosx.pas svneol=native#text/plain
compiler/systems/t_win.pas svneol=native#text/plain
compiler/tgobj.pas svneol=native#text/plain
compiler/tokens.pas svneol=native#text/plain
compiler/utils/Makefile svneol=native#text/plain
compiler/utils/Makefile.fpc svneol=native#text/plain
compiler/utils/README -text
compiler/utils/fixlog.pp svneol=native#text/plain
compiler/utils/fixmsg.pp svneol=native#text/plain
compiler/utils/fixnasm.pp svneol=native#text/plain
compiler/utils/fixtab.pp svneol=native#text/plain
compiler/utils/fpc.cft svneol=native#text/plain
compiler/utils/fpc.mpw -text
compiler/utils/fpc.pp svneol=native#text/plain
compiler/utils/fpccfg.inc svneol=native#text/plain
compiler/utils/fpcmkcfg.pp svneol=native#text/plain
compiler/utils/fpcsubst.pp svneol=native#text/plain
compiler/utils/fpimpdef.pp svneol=native#text/plain
compiler/utils/fppkg.pp svneol=native#text/plain
compiler/utils/gppc386.pp svneol=native#text/plain
compiler/utils/mk68kreg.pp svneol=native#text/plain
compiler/utils/mkarmins.pp svneol=native#text/plain
compiler/utils/mkarmreg.pp svneol=native#text/plain
compiler/utils/mkmpsreg.pp svneol=native#text/plain
compiler/utils/mkppcreg.pp svneol=native#text/plain
compiler/utils/mkspreg.pp svneol=native#text/plain
compiler/utils/mkx86ins.pp svneol=native#text/plain
compiler/utils/mkx86reg.pp svneol=native#text/plain
compiler/utils/msg2inc.pp svneol=native#text/plain
compiler/utils/msgdif.pp svneol=native#text/plain
compiler/utils/msgused.pl -text
compiler/utils/ppudump.pp svneol=native#text/plain
compiler/utils/ppufiles.pp svneol=native#text/plain
compiler/utils/ppumove.pp svneol=native#text/plain
compiler/utils/samplecfg -text
compiler/utils/usubst.pp svneol=native#text/plain
compiler/verbose.pas svneol=native#text/plain
compiler/version.pas svneol=native#text/plain
compiler/vis/aasmcpu.pas svneol=native#text/plain
compiler/vis/cpubase.pas svneol=native#text/plain
compiler/vis/cpuinfo.pas svneol=native#text/plain
compiler/vis/cpunode.pas svneol=native#text/plain
compiler/vis/cpupara.pas svneol=native#text/plain
compiler/widestr.pas svneol=native#text/plain
compiler/x86/aasmcpu.pas svneol=native#text/plain
compiler/x86/agx86att.pas svneol=native#text/plain
compiler/x86/agx86int.pas svneol=native#text/plain
compiler/x86/cga.pas svneol=native#text/plain
compiler/x86/cgx86.pas svneol=native#text/plain
compiler/x86/cpubase.pas svneol=native#text/plain
compiler/x86/itcpugas.pas svneol=native#text/plain
compiler/x86/itx86int.pas svneol=native#text/plain
compiler/x86/nx86add.pas svneol=native#text/plain
compiler/x86/nx86cnv.pas svneol=native#text/plain
compiler/x86/nx86con.pas svneol=native#text/plain
compiler/x86/nx86inl.pas svneol=native#text/plain
compiler/x86/nx86mat.pas svneol=native#text/plain
compiler/x86/nx86set.pas svneol=native#text/plain
compiler/x86/rax86.pas svneol=native#text/plain
compiler/x86/rax86att.pas svneol=native#text/plain
compiler/x86/rgx86.pas svneol=native#text/plain
compiler/x86_64/aoptcpu.pas svneol=native#text/plain
compiler/x86_64/aoptcpub.pas svneol=native#text/plain
compiler/x86_64/aoptcpud.pas svneol=native#text/plain
compiler/x86_64/cgcpu.pas svneol=native#text/plain
compiler/x86_64/cpubase.inc svneol=native#text/plain
compiler/x86_64/cpuinfo.pas svneol=native#text/plain
compiler/x86_64/cpunode.pas svneol=native#text/plain
compiler/x86_64/cpupara.pas svneol=native#text/plain
compiler/x86_64/cpupi.pas svneol=native#text/plain
compiler/x86_64/cpuswtch.pas svneol=native#text/plain
compiler/x86_64/cputarg.pas svneol=native#text/plain
compiler/x86_64/nx64add.pas svneol=native#text/plain
compiler/x86_64/nx64cal.pas svneol=native#text/plain
compiler/x86_64/nx64cnv.pas svneol=native#text/plain
compiler/x86_64/nx64inl.pas svneol=native#text/plain
compiler/x86_64/nx64mat.pas svneol=native#text/plain
compiler/x86_64/r8664ari.inc svneol=native#text/plain
compiler/x86_64/r8664att.inc svneol=native#text/plain
compiler/x86_64/r8664con.inc svneol=native#text/plain
compiler/x86_64/r8664dwrf.inc svneol=native#text/plain
compiler/x86_64/r8664int.inc svneol=native#text/plain
compiler/x86_64/r8664iri.inc svneol=native#text/plain
compiler/x86_64/r8664nor.inc svneol=native#text/plain
compiler/x86_64/r8664num.inc svneol=native#text/plain
compiler/x86_64/r8664op.inc svneol=native#text/plain
compiler/x86_64/r8664ot.inc svneol=native#text/plain
compiler/x86_64/r8664rni.inc svneol=native#text/plain
compiler/x86_64/r8664sri.inc svneol=native#text/plain
compiler/x86_64/r8664stab.inc svneol=native#text/plain
compiler/x86_64/r8664std.inc svneol=native#text/plain
compiler/x86_64/rax64att.pas svneol=native#text/plain
compiler/x86_64/rgcpu.pas svneol=native#text/plain
compiler/x86_64/x8664ats.inc svneol=native#text/plain
compiler/x86_64/x8664att.inc svneol=native#text/plain
compiler/x86_64/x8664int.inc svneol=native#text/plain
compiler/x86_64/x8664nop.inc svneol=native#text/plain
compiler/x86_64/x8664op.inc svneol=native#text/plain
compiler/x86_64/x8664pro.inc svneol=native#text/plain
compiler/x86_64/x8664tab.inc svneol=native#text/plain
