compiler/*.bak
compiler/*.exe
compiler/compiler/*.bak
compiler/compiler/*.exe
compiler/compiler/*.o
compiler/compiler/*.ppu
compiler/compiler/*.s
compiler/compiler/alpha/*.bak
compiler/compiler/alpha/*.exe
compiler/compiler/alpha/*.o
compiler/compiler/alpha/*.ppu
compiler/compiler/alpha/*.s
compiler/compiler/alpha/fpcmade.*
compiler/compiler/alpha/units
compiler/compiler/arm/*.bak
compiler/compiler/arm/*.exe
compiler/compiler/arm/*.o
compiler/compiler/arm/*.ppu
compiler/compiler/arm/*.s
compiler/compiler/arm/fpcmade.*
compiler/compiler/arm/units
compiler/compiler/fpcmade.*
compiler/compiler/html/*.bak
compiler/compiler/html/*.exe
compiler/compiler/html/*.o
compiler/compiler/html/*.ppu
compiler/compiler/html/*.s
compiler/compiler/html/fpcmade.*
compiler/compiler/html/i386/*.bak
compiler/compiler/html/i386/*.exe
compiler/compiler/html/i386/*.o
compiler/compiler/html/i386/*.ppu
compiler/compiler/html/i386/*.s
compiler/compiler/html/i386/fpcmade.*
compiler/compiler/html/i386/units
compiler/compiler/html/powerpc/*.bak
compiler/compiler/html/powerpc/*.exe
compiler/compiler/html/powerpc/*.o
compiler/compiler/html/powerpc/*.ppu
compiler/compiler/html/powerpc/*.s
compiler/compiler/html/powerpc/fpcmade.*
compiler/compiler/html/powerpc/units
compiler/compiler/html/units
compiler/compiler/i386/*.bak
compiler/compiler/i386/*.exe
compiler/compiler/i386/*.o
compiler/compiler/i386/*.ppu
compiler/compiler/i386/*.s
compiler/compiler/i386/fpcmade.*
compiler/compiler/i386/units
compiler/compiler/ia64/*.bak
compiler/compiler/ia64/*.exe
compiler/compiler/ia64/*.o
compiler/compiler/ia64/*.ppu
compiler/compiler/ia64/*.s
compiler/compiler/ia64/fpcmade.*
compiler/compiler/ia64/units
compiler/compiler/m68k/*.bak
compiler/compiler/m68k/*.exe
compiler/compiler/m68k/*.o
compiler/compiler/m68k/*.ppu
compiler/compiler/m68k/*.s
compiler/compiler/m68k/fpcmade.*
compiler/compiler/m68k/units
compiler/compiler/mips/*.bak
compiler/compiler/mips/*.exe
compiler/compiler/mips/*.o
compiler/compiler/mips/*.ppu
compiler/compiler/mips/*.s
compiler/compiler/mips/fpcmade.*
compiler/compiler/mips/units
compiler/compiler/msg/*.bak
compiler/compiler/msg/*.exe
compiler/compiler/msg/*.o
compiler/compiler/msg/*.ppu
compiler/compiler/msg/*.s
compiler/compiler/msg/fpcmade.*
compiler/compiler/msg/units
compiler/compiler/powerpc/*.bak
compiler/compiler/powerpc/*.exe
compiler/compiler/powerpc/*.o
compiler/compiler/powerpc/*.ppu
compiler/compiler/powerpc/*.s
compiler/compiler/powerpc/fpcmade.*
compiler/compiler/powerpc/units
compiler/compiler/sparc/*.bak
compiler/compiler/sparc/*.exe
compiler/compiler/sparc/*.o
compiler/compiler/sparc/*.ppu
compiler/compiler/sparc/*.s
compiler/compiler/sparc/fpcmade.*
compiler/compiler/sparc/units
compiler/compiler/systems/*.bak
compiler/compiler/systems/*.exe
compiler/compiler/systems/*.o
compiler/compiler/systems/*.ppu
compiler/compiler/systems/*.s
compiler/compiler/systems/fpcmade.*
compiler/compiler/systems/units
compiler/compiler/units
compiler/compiler/utils/*.bak
compiler/compiler/utils/*.exe
compiler/compiler/utils/*.o
compiler/compiler/utils/*.ppu
compiler/compiler/utils/*.s
compiler/compiler/utils/fpcmade.*
compiler/compiler/utils/units
compiler/compiler/vis/*.bak
compiler/compiler/vis/*.exe
compiler/compiler/vis/*.o
compiler/compiler/vis/*.ppu
compiler/compiler/vis/*.s
compiler/compiler/vis/fpcmade.*
compiler/compiler/vis/units
compiler/compiler/x86/*.bak
compiler/compiler/x86/*.exe
compiler/compiler/x86/*.o
compiler/compiler/x86/*.ppu
compiler/compiler/x86/*.s
compiler/compiler/x86/fpcmade.*
compiler/compiler/x86/units
compiler/compiler/x86_64/*.bak
compiler/compiler/x86_64/*.exe
compiler/compiler/x86_64/*.o
compiler/compiler/x86_64/*.ppu
compiler/compiler/x86_64/*.s
compiler/compiler/x86_64/fpcmade.*
compiler/compiler/x86_64/units
compiler/i386/*.bak
compiler/utils/*.exe
compiler/x86/*.bak
