/******************
 * Name : TEXT.RC *
 ******************/

#include "PMDEMO1.H"

MENU    ID_ClientWindow
  BEGIN
     SUBMENU "~File",100
       BEGIN
          MENUITEM "~Open...",101
          MENUITEM "~Exit",109
       END
     SUBMENU "~Help",200
       BEGIN
          MENUITEM "~About...",201
       END
  END
/*
  $Log$
  Revision 1.1  2001-01-14 19:02:14  hajny
    + OS/2 demos added

  Revision 1.1  2000/07/13 06:31:10  michael
  + Initial import

  Revision 1.1  2000/07/09 10:37:50  peter
    * renamed to lowercase names

  Revision 1.1  1999/06/02 16:01:35  hajny
    * changes by Ramon Bosque

*/
