#
# Config file for pas2js compiler
#

# not yet implemented: -d is the same as #DEFINE
# not yet implemented: -u is the same as #UNDEF

# Write always a nice logo ;)
-l

# Display Hints, Warnings and Notes
-vwnh
# If you don't want so much verbosity use
#-vw

#IFDEF nodejs
-Ji$CfgDir/dist/rtl.js
#ENDIF

# end.

