// #include "demo.h"
#include "demo.pp"
MENU1 MENU
BEGIN
    POPUP        "&File"
    BEGIN
        MENUITEM    "&New",              	ID_NEW
        MENUITEM    "&Open...",          	2
        MENUITEM    "&Save",             	3
        MENUITEM    "Save &As...",       	4
        MENUITEM    "&Print",            	5
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",             	6
    END

    POPUP        "&Edit"
    BEGIN
        MENUITEM    "&Undo\tAlt+Bksp",     7
        MENUITEM    SEPARATOR
        MENUITEM    "Cu&t\tShift+Del",     8
        MENUITEM    "&Copy\tCtrl+Ins",     9
        MENUITEM    "&Paste\tShift+Ins",   10
        MENUITEM    "C&lear\tDel", 11
    END
END

