# Minimal practical PS1 RTL profile.
# Keeps dynamic heap, unit init/final, classes and AnsiString.
# Everything else is disabled, including SoftFPU.
-Sf-

-SfHEAP
-SfINITFINAL

-SfCLASSES
-SfRTTI

-SfDYNARRAYS

-SfTEXTIO

-SfANSISTRINGS
-SfWIDESTRINGS

-SfEXCEPTIONS

-SfSOFTFPU
-CfSOFT