body 
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	font-size: x-small;
  background: #FFFFFF;
}

a 
{
  text-decoration: none;
  background-color: Transparent
}

a:link 
{	
	color: #0033ff;
}		

a:visited 
{	
	color:	#003399;
}			

a:active, a:hover
{	
	color:#69c;
}		
	
h2 
{
  padding: 4px 4px 4px 6px;
  font-size: large;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  background-color: #006699;
}

h3 
{
  padding: 4px 4px 4px 6px;
  border: 1px solid #003399;
  color: #FFFFFF;
  background-color: #0099CC;
  font-weight: normal;
  font-size: medium;
}

table 
{
	padding:0px;
	width: 100%;
	margin-left: -2px;
	margin-right: -2px;
}

th, td 
{
  padding: 2px 4px 2px 4px;
  vertical-align: top;
  font-size: x-small;
}

address 
{
	font-family: verdana, arial, helvetica, Sans-Serif;
	font-size: 8pt;
  font-style: normal; 
  text-align: right;
}

.title 
{
	background-color: #bbb; 
  color: white;	
}

.resultmessage
{
	background-color: #D3E4FF; 
}

.success 
{
	background-color: lightgreen;
	color: black;
}

.node_success
{
  cursor:pointer; cursor:hand;   /* cross browser hack */
}

.failure 
{
	background-color: #C100C1;
	color: black;
}

.node_failure
{
  color: #C100C1;
  cursor:pointer; cursor:hand;   /* cross browser hack */
}

.notrun 
{
	background-color: yellow;
	color: black;
}

.error 
{
	background-color: red;
	color: black;
	font-size: 9pt;
}

.node_error
{
  color: red;
  cursor:pointer; cursor:hand;   /* cross browser hack */
}

.right
{
	font-size: 8pt;
	text-align: right;
}

.backToTop
{
  text-align: right;
}

.testsuitelabel
{
	background-color: cadetblue;
	color: black;
  cursor:pointer; cursor:hand;   /* cross browser hack */
	padding-top: 3px;
	border: 1px solid #F5F5F5;
}

.testsuiteshowall
{
  display:inline;
  cursor:pointer; cursor:hand;   /* cross browser hack */
}

.testsuitehideall
{
  display:inline;
  cursor:pointer; cursor:hand;   /* cross browser hack */
}

div.testcontent {
	margin-left: 8px;
}

/* Customize the "folder" style here */
a.folder {  font-family: arial;
            font-size: 9pt;
            padding:0px;
            font-family : cursive;
}

/* Customize the "leaf" style here */
a.leaf {
	font-family: cursive;
	padding:0px;
	cursor:pointer; cursor:hand;   /* cross browser hack */
	font-size : 9pt;                             
}
